body{
  margin: 0;
  padding: 0;
}
.header{
  width: 99%;
  height: 40px;
  background-color: rgb(255, 248, 220);
  border: solid;
  border-color: #A52A2A;
  border-radius: 5px;
}
.container{
  width: 100px;
  height: 750px;
  background-color: #CD5C5C;
  margin-top: 30px;
  border: solid;
  border-color: #A52A2A;
  border-radius: 10px;
  margin-right: 50px;
}
.main{
  width:800px;
  height: 730px;
  background-color: #CD5C5C;
  margin-left: 200px;
  margin-top: 20px;
  border: solid;
  border-color: #A52A2A;
  border-radius: 10px;
}
.foot{
  width: 99%;
  height: 100px;
  background-color: #A52A2A;
  margin-top: 80px;
  border: solid;
  border-color:#808080;
}
.name{
  font-size: 15px;
  margin-left: 30px;
}
.title{
  font-size: 40px;
  padding-left: 20px;
  padding-bottom: 10px;
}
.text{
  font-size: 20px;
  padding-left: 15px;
}
.card1{
  width: 10%;
}
.text1{
  padding-left: 15px;
  padding-top: 20px
}
.card2{
  width: 30%;
  box-shadow: 4px 4px 4px;
  margin-left: 500px;
  margin-bottom: 170px;
}
.sp{
  padding-left: 15px;
}
